# UI test environment
UI_BASE_URL=https://dev-executive.entebus.com
UI_USERNAME=guest
UI_PASSWORD=password
UI_HEADLESS=true

# API test environment
API_BASE_URL=https://dev-api.entebus.com
API_USERNAME=guest
API_PASSWORD=password
