
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Framework artifacts
reports/
logs/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

env/
.venv/

# Docker
docker/**/node_modules/
